body {
  margin: 0;
  font-family: sans-serif;
  background: #0f172a;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background: #1e293b;
}

.navbar button {
  padding: 12px 25px;
  border: none;
  border-radius: 10px;
  background: #38bdf8;
  color: white;
  cursor: pointer;
  font-size: 16px;
}